.Down-sec{
    width: 60%;
    margin: auto;
    zoom: 1;
}

.Down-row{
margin: 150px 30px;
}

.Down-container{
    display: flex;
    flex-direction: row;
}

.Down-pic img{
margin: 0px;
right: 100px;
width: 535px;
height: 376px;
}


.Down-app{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.Down-app h3{
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    font-family: Lato,Helvetica,Arial,sans-serif!important;
}

.Down-app p{
    text-align: left;
    font-size: 14px;
    margin: 30px 0px;
    color: #606782;
    line-height: 1.7;
    color: #414146;
}

.Down-app h4{
    text-align: left;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 50px;
    font-weight: 700;
}


button {
    font-size: 18px;
    width: 200px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    margin: 30px;
    text-align: center;
    font-weight: bold;
    padding: .7em 2em;
    border:2px solid #3c61e2;
    border-radius: 2px;
    position: relative;
    background-color: #3c61e2;
    color: #ffff;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}


button:before{
    transition: 0.5s ease all;
    position: absolute;
    top: 0;
    bottom:0;
    opacity: 0;
    left: 50%;
    right: 50%;
    content: '';
    z-index: -1;
    color: #ffff;
}

button:hover{
    color: #fff;;
    background-color: #fff;
}

button:hover:before,button:focus:before {
    transition: 0.5s ease all;
    opacity: 1;
    left: 0;
    right: 0;
}
button:active{
    transform: scale(0.9);
}

@media (max-width: 1024px){
    .Down-sec {
        width: 100%;
    }
    .btn_dwn {
        border-radius: 20px;
    }
}
@media (max-width: 1024px) and (min-width: 700px){
    .Down-pic img {
        width: 400px;
    }    
    .Down-app p{
        width: 75%;
    font-size: 12px;
    margin: 18px 0px;
    }
    .Down-app h4{
        margin-top: 20px;
    }
    .btn_dwn{
        border-radius: 20px;
        font-weight: 900;
        font-size: 16px;
    }
}
@media (max-width: 900px) and (min-width: 700px){
    .Down-pic img {
        width: 520px;
    } 
}
@media (max-width: 700px) and (min-width: 550px){
.Down-pic img {
    margin: 0px;
    width: 700px;
    height: 300px;
}
    .Down-app h4{
        margin-top: 20px;
    }
    .btn_dwn{
        border-radius: 20px;
        font-weight: 900;
    }
    .Down-app h3 {
        font-size: 22px
    }
    .Down-app p{
        width: 60%;
    }
}


@media (max-width: 650px) and (min-width: 300px){
    .Down-app h3 {
        font-size: 28px;
    }
    .Down-app p{
        width: 80%;
        font-size: 12px;
        margin: 14px 0px;
    }
    .Down-app h4 {
       display: none;
    }
    .Down-app {
        margin-left: 38px;
    }
    
}


@media (max-width: 532px) and (min-width: 400px){
    .Down-pic img {
        width: 1000px;
        height: 350px;
    }
    .btn_dwn{
        font-size: 15px;
        padding: 10px;
    }
}


@media (max-width: 400px) and (min-width: 300px){
    .Down-container {
        display: flex;
        flex-direction: column;
    }
    .Down-pic img {
        margin: auto;
        right: 100px;
        width: 155px;
        height: 300px;
    }
    .Down-app {
        /* margin-left: 38px; */
        margin-top: 35px;
    }
}