.Main2-sec{
    margin: 80px;
}
.Main2-img img{
    height: 540px;
    width: 260px;
}
.Main2-col{
    display: flex;
    align-items: center;
}

.Main2-text h1 {
    font-size: 80px;
    font-weight: 800;
    text-align: initial;
    margin: 10px 0px;
}

.Main2-text h6 {
    text-align: initial;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 800;
    color: rgb(0,82,255);
}

.Main2-text{
    padding: 10px 20px;
    width: 70%;
}

.Main2-text p{
    text-align: left;
    line-height: 1.5;
    letter-spacing: 1.2px;
}


@media (max-width: 1245px) and (min-width: 1000px){
    .Main2-img img {
        height: 520px;
        width: 262px;
    }
}

@media (max-width: 1000px) and (min-width: 800px){
    .Main2-img img {
        height: 520px;
        width: 258px;
    }
}
@media (max-width: 800px) and (min-width: 320px){
    .Main2-sec {
        display: none;
    }
}