*{
    margin: 0px;
    padding: 0px;
}
/* .btn{
    background: #2F58CD;
    width: 160px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
}
.btn::before{
    content: 'Quickk';
    color: #fff;
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: 0.5s;
    text-transform: uppercase;
}

.btn::after{
    color: #fff;
    content: 'Check Out!';
    font-weight: bolder;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 140%;
    transition: 0.5s;
    text-transform: uppercase;
}

.btn:hover::before{
top: -50%;
}

.btn:hover::after{
    top: 50%;
} */
