
@tailwind base;
@tailwind components;
@tailwind utilities;
.Card_ {
  margin: 250px 0px;
}

.box{
  padding: 35px 30px 30px;
  width: 400px;
  height: 426px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 2px rgba(1, 1, 1, 0.3);
  }
  
  .box:hover{
    box-shadow : none;
    padding: 2rem 0px;
  }
  
  .head{
    font-size: 45px;
    font-weight: 800;
  }
  
  .text-sm {font-size: 0.775rem !important;}
  
 .leading-7 { line-height: 1.55rem!important;}

 .text-heading_color {
  font-size: 15px;
  color: #3c61e2!important;
  font-weight: 700;
}

.box p{
  text-align: justify;
}

@media (max-width: 1024px) and (min-width : 800px){
  .box p{
  font-size: 10px !important;
  text-align: justify;
  line-height: 1.25rem!important;
}
.Card_ {
  margin: 250px 15px;
}
.box {
  padding: 15px 30px 30px;}

}
@media (max-width: 800px){
  .tab{
    flex-direction: column;
    align-items: center;
  }
  .box {
    text-align: initial;}
}


@media (max-width: 425px) and (min-width: 300px) {
  .box {
    padding: 25px;
    width: 350px;
    height: 425px;
    margin-bottom: 20px;
  }
  .box p{
    font-size: 12px !important;
    text-align: initial;
  }
}