.rh{
    color: #002856;
    width: 80%;
    margin: 14px auto;
}

.right{
    display: flex;
    justify-content: space-around;
}
.right p {
    color: #002856;
}
.right a{
    color: #002856;
    text-decoration: none;
}
.right .term {
    font-weight: 600;
    color: #002856;
}