
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex !important;
	flex-direction: row !important;
    justify-content: space-between;
	flex-wrap: wrap;
    margin-bottom: 35px;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(241, 245, 254);
    padding: 50px 0 30px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 28px;
	color: rgb(91,97,110);
	text-transform: capitalize;
    margin-bottom: 25px;
	font-weight: 600;
	position: relative;
    text-align: start;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
    font-weight: 600;
    text-align: start;
	font-size: 16px;
	text-transform: capitalize;
	color:rgb(91,97,110);
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    font-weight: 800;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
    font-weight: 600;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: rgb(91,97,110);
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: rgb(91,97,110);
}
.foot-para{
    font-size: 16px;
    text-decoration: none;
    color: rgb(91,97,110);
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    width: 100%;
    text-align: start;
	margin-bottom: 35px;
}
.footer-col .follow{
    text-align: center;
}
.hr{
    width: 80%;
    margin: auto;
}
.rights {
display: flex;
flex-direction: row;
margin: 20px 0px;
justify-content: space-around;
}
.rights p{
	color: rgb(91,97,110);
}
.rights .terms{
	font-weight: 600;
	color: rgb(91,97,110);
}

hr {
	margin: auto;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}